parameters:
    level: 6
    parallel:
        maximumNumberOfProcesses: 1
    paths:
        - includes/
        - ootb-openstreetmap.php
    bootstrapFiles:
        - vendor/autoload.php
    excludePaths:
        - vendor/
        - node_modules/
        - build/
        - tests/
