<?xml version="1.0"?>
<phpunit
    bootstrap="tests/phpunit/bootstrap.php"
    backupGlobals="false"
    colors="true"
>
    <testsuites>
        <testsuite name="snapshot">
            <directory>tests/phpunit/snapshot</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">includes</directory>
        </include>
        <report>
            <html outputDirectory="tests/phpunit/coverage"/>
            <clover outputFile="tests/phpunit/coverage/clover.xml"/>
        </report>
    </coverage>
</phpunit>
