
/** * The following styles get applied inside the editor only. */
.block-editor-block-list__block[data-type="ootb/openstreetmap"] {
	z-index: 1;
	width: 100%;
}

.block-editor-block-list__block[data-type="ootb/openstreetmap"].is-selected .ootb-openstreetmap--search-results {
	top: 48px;
	opacity: 1;
}

.block-editor-block-list__block[data-type="ootb/openstreetmap"].is-selected .ootb-openstreetmap--searchbox {
	top: 0.5rem;
	opacity: 1;
}

/* Make sure marker icons can be clicked */
.block-editor-block-list__block[data-type="ootb/openstreetmap"] .leaflet-marker-icon {
	pointer-events: auto;
}

.wp-block-ootb-openstreetmap {
	position: relative;
}

.wp-block-ootb-openstreetmap.pinning .leaflet-container .leaflet-marker-pane img, .wp-block-ootb-openstreetmap.pinning .leaflet-container {
	cursor: crosshair;
}

.wp-block-ootb-openstreetmap .leaflet-popup-content {
	width: 150px;
}

.wp-block-ootb-openstreetmap .leaflet-marker-icon {
	top: 0;
	animation: animate-marker 400ms ease-in-out;
}

.ootb-openstreetmap--icon {
	text-align: center;
	border: 2px dashed #ddd;
	margin-bottom: 0.5rem;
}

.ootb-openstreetmap--icon img {
	margin: 0.5rem auto;
}

.gmp-openstreetmap--buttons {
	border-top: 1px solid #ddd;
	display: flex;
	justify-content: space-around;
	padding: 0.7rem 0;
	margin: 0 0.5rem;
}


.ootb-openstreetmap--alert {
	position: absolute;
	bottom: 1em;
	width: calc(100% - 3em);
	left: 1em;
	border-radius: 5px;
	font-size: 13px;
	padding: 0.5em;
	text-align: center;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	z-index: 9999;
}

.wp-block-ootb-openstreetmap div.ootb-openstreetmap--alert a {
	color: #fff;
}

.ootb-openstreetmap--alert.alert-active {
	background: rgba(23, 137, 7, 0.84);
}

.ootb-openstreetmap--alert.alert-error {
	background: rgba(198, 0, 0, 0.84);
}

/* Marker buttons */
.ootb-openstreetmap--marker-icon-container {
	border-top: 1px solid #ccc;
	margin-top: 1rem;
	padding-top: .2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-end;
}

.ootb-openstreetmap--marker-icon-container .gmp-openstreetmap--buttons .dashicon::before {
	font-size: 16px;
}

.leaflet-popup-content-wrapper .ootb-openstreetmap--icon {
	border: none;
	display: flex;
	flex: 1;
	align-items: flex-end;
	justify-content: space-between;
	margin-bottom: 0;
}

.leaflet-popup-content-wrapper .gmp-openstreetmap--buttons {
}

.leaflet-popup-content-wrapper .gmp-openstreetmap--buttons {
	margin: 0;
	padding: 0;
}

.leaflet-popup-content-wrapper .gmp-openstreetmap--buttons {
	border-top: none;
}

.leaflet-popup-content-wrapper .components-button {
	box-shadow: none;
}


/* Searchbox */
.ootb-openstreetmap--searchbox {
	display: flex;
	background: #fff;
	color: #444;
	position: absolute;
	z-index: 999;
	right: 0.5rem;
	border: 1px solid #1e1e1e;
	top: 0;
	opacity: 0;
	padding: 0 0 0 0.5rem;
	width: 280px;
	max-width: calc(100% - 5rem);
	transition: all 200ms ease-in-out;
}

.ootb-openstreetmap--searchbox > div {
	flex: 1;
}

.ootb-openstreetmap--searchbox .components-base-control__field {
	margin-bottom: 0;
}

.ootb-openstreetmap--searchbox .components-text-control__input[type="text"] {
	background: transparent;
	border: none;
	color: #000;
	box-shadow: none;
}

.ootb-openstreetmap--searchbox.openai-active {
	border-color: #fff;
	box-shadow: 1px 2px 3px #aaa;
	border-radius: 1em;
}

.ootb-openstreetmap--searchbox.openai-active .dashicon.dashicons {
	color: #2aa3c5;
}

.ootb-openstreetmap--searchbox svg.dashicon {
	fill: #000;
}

.block-editor-block-list__block[data-type="ootb/openstreetmap"] .ootb-openstreetmap--search-results {
	position: absolute;
	z-index: 999;
	background: #fff;
	top: 0;
	opacity: 0;
	transition: all 200ms ease-in-out;
	max-width: calc(100% - 5rem);
	right: 0.5rem;
	border: 1px solid #1e1e1e;
	width: 280px;
	max-height: calc(100% - 70px);
	overflow-y: auto;
	text-align: left;
}

.block-editor-block-list__block[data-type="ootb/openstreetmap"] .ootb-openstreetmap--search-results .components-button {
	height: auto;
	text-align: left;
	width: 100%;
}

@keyframes animate-marker {
	0% {
		top: -60px;
	}
	50% {
		top: 0;
	}
	90% {
		top: -10px;
	}
	100% {
		top: 0;
	}
}

.wp-block-create-block-ootb-openstreetmap {
	border: 1px dotted #f00;
}

/* Server-side Render overlay */
.ootb-server-side-rendered {
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(8px);
	width: 100%;
	height: 100%;
	z-index: 99999;
	display: flex;
	flex-flow: column;
	justify-content: center;
	color: #fff;
	text-shadow: 1px 1px 3px #000;
}

.ootb-server-side-rendered span {
	text-align: center;
	width: 100%;
}

.ootb-server-side-rendered div {
	text-align: center;
	padding-top: 1rem;
}

.ootb-server-side-rendered button {
	box-shadow: 1px 1px 6px #000;
}
